
  .contacto {
    .contacto__consulta {
      align-items: center;
      color:$color-letras;
      font-weight: 900;
      background-color: $fondo-oscuro;
      div {
        .btn-dark {
          background-color: #e2ad52de;
          color:$fondo-oscuro;
        }
      }
    }
    .contacto__contactanos {
      width: max-content;
      background-color: $fondo-oscuro;
      color: $color-letras;
      font-weight: 900;
      div {
        .iconos {
          height: 20px;
        }
      }
      &--titulo {
        text-align: center;
      }
    }
  }
  .iconos {
    height: 20px;
  }
  @media screen and (max-width: 768px) {
    .contacto {
      flex-direction: column;
      align-items: center;
    }
  }


