
  .contacto {
    .contacto__consulta {
      h2{
        text-align: center;
        font-size: 2rem;
      }
      padding: 1rem;
      color:$color-letras;
      background-color: $fondo-oscuro;
      div {
        text-align: center;
        .btn-dark {
          background-color:$color-letras;
          color:$fondo-oscuro;
        }
      }
    }
    .contacto__contactanos {
      font-size: 1.2rem;
      padding: 1rem;
      width: max-content;
      background-color: $fondo-oscuro;
      color: $color-letras;
      font-weight: 900;
      div {
        .iconos {
          height: 1.5rem;
        }
      }
      &--titulo {
        text-align: center;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .contacto {
      flex-direction: column;
      align-items: center;
    }
  }


