* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-size: 1rem;
}
/* Body */
body {
  
  font-size: 1.4rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  a {
    text-decoration: none;
  }
} 
main {
  background: linear-gradient( to right, $fondo1, $fondo2)
}
.titulo  {
  text-align: center;
  font-size: 3rem;
  color: rgb(117, 82, 7);
  background-image:url(../Logos/bolsacoffe.jpg);
  background-size: cover;
  background-position: right;
  padding:1rem;
}
@media screen and (min-width: 769px) {
  .titulo{
  text-align: center;
  font-size: 6rem;
  color: rgb(117, 82, 7);
  background-image:url(../Logos/bolsacoffe.jpg);
  /* height: 25vh; */
  background-size: cover;
  background-position: right;
  padding:3rem;
  }
  
}
