.titulo-local {
  @extend .titulo;
  background-image:url(../Cafeterias/Sucursales.jpg);
}
.sucursales {
  width: 100%;
  padding: 1rem;
  align-items: center;
  margin: 0;
  .sucursales__img {
    height: 450px;
    background-position: center;
    width: 100%;
    border-radius: 5% 5% 0 0;
  }
  .sucursales__titulos {
    text-align: center;
    color: rgb(97, 65, 5);
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .sucursal__fondo {
    background-color:rgba(0, 0, 0, 0.226);
    border-radius: 0 0 3% 3%; 
    padding: 10px;
    .sucursal__horarios { 
      display: flex;
      gap: 10px;
      .sucursal__icon {
        height: 30px;
      }
      .sucursal__info {
        text-align: center;
        font-size: 1.2rem;  
      }
    }
    .sucursal__ubicacion {
      display: flex;
      gap: 10px;
      .sucursal__icon {
      height: 30px;
      }
      .sucursal__info {
      text-align: center;
      font-size: 1.2rem;  
      } 
    }
    .btn-primary {
      background-color:$fondo-oscuro;
      border-color: $fondo-oscuro;
    }
  }
}
iframe{
  width: 325px;
  height: 375px;
}

@media only screen and (min-width:577px) and (max-width:1200px) {
  .sucursales {
    width: 100%;
    padding: 1rem;
    align-items: center;
    margin: 0;
    .sucursales__img {
      height: 15rem;
      background-position: center;
      max-width: 100%;
      border-radius: 5% 5% 0 0;
    }
    .sucursales__titulos {
      text-align: center;
      color: rgb(97, 65, 5);
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
    .sucursal__fondo {
      background-color:rgba(0, 0, 0, 0.226);
      border-radius: 0 0 3% 3%; 
      padding: 10px;
      .sucursal__horarios { 
        
        display: flex;
        gap: 10px;
        .sucursal__icon {
          height: 15px;
        }
        .sucursal__info {
          text-align: center; 
          font-size: 0.9rem;
        }
      }
      .sucursal__ubicacion {
        display: flex;
        gap: 10px;
        .sucursal__icon {
        height: 15px;
        }
        .sucursal__info {
        text-align: center;
        font-size: 0.9rem;  
        } 
      }
      .btn-primary {
        font-size: 0.8rem;
        background-color:$fondo-oscuro;
        border-color: $fondo-oscuro;
      }
    }
  }
  iframe {
    width:470px;
    height: 768px;
  }
}

@media screen and (min-width:1200px) {
  iframe{
    width:780px;
    height: 768px;
  }
  
}
