.titulo-local {
  @extend .titulo;
  background-image:url(../Cafeterias/Sucursales.jpg);
}
.sucursales {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  padding: 2rem;
  .sucursales__img {
    height: 600px;
    background-position: center;
    width: 100%;
    border-radius: 5% 5% 0 0;
  }
  .sucursales__titulos {
    text-align: center;
    color: rgb(97, 65, 5);
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .sucursal__fondo {
    background-color:rgba(0, 0, 0, 0.226);
    border-radius: 0 0 3% 3%; 
    padding: 10px;
      .sucursal__horarios { 
        display: flex;
        gap: 10px;
        .sucursal__icon {
          height: 30px;
        }
        .sucursal__info {
          text-align: center;
          font-size: 1.2rem;  
        }
      }
      .sucursal__ubicacion {
        display: flex;
        gap: 10px;
        .sucursal__icon {
        height: 30px;
        }
        .sucursal__info {
        text-align: center;
        font-size: 1.2rem;  
        } 
      }
  }
}
