.menu {

  .menu__producto {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: $color-letras;
    gap: 0.5rem;
    background: $fondo-oscuro;
    border: solid 0.1px #180f0126;
    border-radius: 10%;
    &:hover{
      transform: scale(.98);
      box-shadow:0 20px 20px 0px rgba(0,0,0,0.125);
    }
    .menu__img {
      max-width: 100%;
      border-radius: 10%;
      padding: 0.5rem;
    }
  }
}
