
/* Section */
.contenido {

  .contenido__titulo {
    text-align: center;
    color: rgb(80, 46, 2);
    text-decoration: underline;
    font-family: 'oswald', sans-serif;
    font-weight: 700;
  }
  .contenido__info {
    padding: 1rem;
    text-align:justify;
    color: rgb(1, 9, 15);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
  }
}
/* Section2 */

.contenido2 {
  div {
    
    .contenido2__titulo {
      text-decoration:underline;
      text-align: center;
      color: rgb(87, 53, 2);
      font-family: 'oswald', sans-serif;
      font-weight: 600;
    }
    .contenido2__texto {
      font-family: 'Montserrat', sans-serif;
      font-size: 1.2rem;
      text-align: start;
    }
  }
  div {
    align-items: center;
    .contenido2__img { 
      height: 5rem;
      border-radius: 30%;
      max-width: 100%;
    }
  }
}
@media screen and (min-width: 768px) {
  .contenido {

    .contenido__titulo {
      text-align: center;
      color: rgb(80, 46, 2);
      text-decoration: underline;
    }
    .contenido__info {
      padding: 2rem;
      text-align:justify;
      color: rgb(1, 9, 15);
      font-family: 'Montserrat', sans-serif;
      font-size: 1.3rem;
    }
  }
  /* Section2 */
  
  .contenido2 {
    div {
      
      .contenido2__titulo {
        text-decoration:underline;
        text-align: center;
        color: rgb(87, 53, 2);
      }
      .contenido2__texto {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2rem;
        text-align: start;
      }
    }
    div {
      align-items: center;
      .contenido2__img { 
        height: 10rem;
        border-radius: 30%;
        max-width: 100%;
      }
    }
  }
  
}
