
/* Seccion */

.seccion {
  margin: 0;
  padding: 1.5rem;
  gap: 1rem;
  .seccion__productos {
    background: $fondo-oscuro;
    border: 0.1px solid $fondo-oscuro;
    border-radius: 5%;
    background: $fondo-oscuro;
    border: solid 0.1px #180f0126;
    border-radius: 10%;
    &:hover{
      transform: scale(.98);
      box-shadow:0 20px 20px 0px rgba(0,0,0,0.125);
    }
    .seccion__img {
      padding: 0.5rem;
      max-width: 100%;
      border-radius: 10% ;
    }
    .seccion__info {
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-size: 1rem;
      color:$color-letras
    }
  }
  
}
@media screen and(min-width: 768px) {
  .seccion {
    margin: 0;
    padding: 1.5rem;
    gap: 1rem;
    .seccion__productos {
      background: $fondo-oscuro;
      border: 0.1px solid $fondo-oscuro;
      border-radius: 5%;
      .seccion__img {
        padding: 0.5rem;
        max-width: 100%;
        border-radius: 10% ;
      }
      .seccion__info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        color:$color-letras
      }
    }
    
  }
  
}
