* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-size: 1rem;
}

/* Body */
.bodyFix {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

body {
  font-size: 1.4rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body a {
  text-decoration: none;
}

main {
  background: -webkit-gradient(linear, left top, right top, from(#753422b9), to(#ffebc969));
  background: linear-gradient(to right, #753422b9, #ffebc969);
}

.titulo, .titulo-local {
  text-align: center;
  font-size: 3rem;
  color: #755207;
  background-image: url(../Logos/bolsacoffe.jpg);
  background-size: cover;
  background-position: right;
  padding: 1rem;
}

@media screen and (min-width: 769px) {
  .titulo, .titulo-local {
    text-align: center;
    font-size: 6rem;
    color: #755207;
    background-image: url(../Logos/bolsacoffe.jpg);
    background-size: cover;
    background-position: right;
    padding: 3rem;
  }
}

.preparacion {
  background-color: #753422b9;
}

.preparacion div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preparacion div .preparacion__principal {
  height: 3rem;
}

.preparacion div .preparacion__logos {
  max-height: 3rem;
  max-width: 3rem;
  height: auto;
  width: auto;
}

.preparacion div .preparacion__subtitulos {
  font-size: 1rem;
}

.conocenos {
  font-size: 1rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.conocenos .conocenos__subtitulo {
  padding: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.conocenos p {
  text-align: start;
  padding: 1rem;
  border-width: 1px;
  border-top: 0.1rem solid;
  font-family: 'Montserrat', sans-serif;
}

.recomendacion .recomendacion__subtitulo {
  font-weight: 800;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.recomendacion .recomendacion__promo {
  font-weight: 600;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.recomendacion .recomendacion__producto {
  text-align: center;
}

.recomendacion .recomendacion__producto .recomendacion__img {
  max-width: 100%;
  border-radius: 2%;
  border: black 0.1rem solid;
}

.recomendacion .recomendacion__producto .recomendacion__img:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

h5 {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .container-fluid .recomendacion .recomendacion__subtitulo {
    font-weight: 800;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  .container-fluid .recomendacion .recomendacion__promo {
    font-weight: 600;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
  }
  .container-fluid .recomendacion .recomendacion__producto {
    text-align: center;
  }
  .container-fluid .recomendacion .recomendacion__producto .recomendacion__img {
    max-width: 100%;
    border-radius: 2%;
    border: black 0.1rem solid;
  }
  .preparacion {
    background-color: #753422b9;
  }
  .preparacion div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .preparacion div .preparacion__principal {
    height: 3rem;
  }
  .preparacion div .preparacion__logos {
    max-height: 4rem;
    max-width: 4rem;
    height: auto;
    width: auto;
  }
  .preparacion div .preparacion__subtitulos {
    font-size: 1.5rem;
  }
  .conocenos {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem;
  }
  .conocenos .conocenos__subtitulo {
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
  }
  .conocenos p {
    font-size: 1rem;
    text-align: start;
    padding: 1rem;
    border-width: 1px;
    border-top: 0.1rem solid;
    font-family: 'Montserrat', sans-serif;
  }
}

.titulo-local {
  background-image: url(../Cafeterias/Sucursales.jpg);
}

.sucursales {
  width: 100%;
  padding: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.sucursales .sucursales__img {
  height: 450px;
  background-position: center;
  width: 100%;
  border-radius: 5% 5% 0 0;
}

.sucursales .sucursales__titulos {
  text-align: center;
  color: #614105;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.sucursales .sucursal__fondo {
  background-color: rgba(0, 0, 0, 0.226);
  border-radius: 0 0 3% 3%;
  padding: 10px;
}

.sucursales .sucursal__fondo .sucursal__horarios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.sucursales .sucursal__fondo .sucursal__horarios .sucursal__icon {
  height: 30px;
}

.sucursales .sucursal__fondo .sucursal__horarios .sucursal__info {
  text-align: center;
  font-size: 1.2rem;
}

.sucursales .sucursal__fondo .sucursal__ubicacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.sucursales .sucursal__fondo .sucursal__ubicacion .sucursal__icon {
  height: 30px;
}

.sucursales .sucursal__fondo .sucursal__ubicacion .sucursal__info {
  text-align: center;
  font-size: 1.2rem;
}

.sucursales .sucursal__fondo .btn-primary {
  background-color: rgba(117, 52, 34, 0.993);
  border-color: rgba(117, 52, 34, 0.993);
}

iframe {
  width: 325px;
  height: 375px;
}

@media only screen and (min-width: 577px) and (max-width: 1200px) {
  .sucursales {
    width: 100%;
    padding: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  .sucursales .sucursales__img {
    height: 15rem;
    background-position: center;
    max-width: 100%;
    border-radius: 5% 5% 0 0;
  }
  .sucursales .sucursales__titulos {
    text-align: center;
    color: #614105;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .sucursales .sucursal__fondo {
    background-color: rgba(0, 0, 0, 0.226);
    border-radius: 0 0 3% 3%;
    padding: 10px;
  }
  .sucursales .sucursal__fondo .sucursal__horarios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
  .sucursales .sucursal__fondo .sucursal__horarios .sucursal__icon {
    height: 15px;
  }
  .sucursales .sucursal__fondo .sucursal__horarios .sucursal__info {
    text-align: center;
    font-size: 0.9rem;
  }
  .sucursales .sucursal__fondo .sucursal__ubicacion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
  .sucursales .sucursal__fondo .sucursal__ubicacion .sucursal__icon {
    height: 15px;
  }
  .sucursales .sucursal__fondo .sucursal__ubicacion .sucursal__info {
    text-align: center;
    font-size: 0.9rem;
  }
  .sucursales .sucursal__fondo .btn-primary {
    font-size: 0.8rem;
    background-color: rgba(117, 52, 34, 0.993);
    border-color: rgba(117, 52, 34, 0.993);
  }
  iframe {
    width: 470px;
    height: 768px;
  }
}

@media screen and (min-width: 1200px) {
  iframe {
    width: 780px;
    height: 768px;
  }
}

.contacto .contacto__consulta {
  padding: 1rem;
  color: #ffebc9;
  background-color: rgba(117, 52, 34, 0.993);
}

.contacto .contacto__consulta h2 {
  text-align: center;
  font-size: 2rem;
}

.contacto .contacto__consulta div {
  text-align: center;
}

.contacto .contacto__consulta div .btn-dark {
  background-color: #ffebc9;
  color: rgba(117, 52, 34, 0.993);
}

.contacto .contacto__contactanos {
  font-size: 1.2rem;
  padding: 1rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: rgba(117, 52, 34, 0.993);
  color: #ffebc9;
  font-weight: 900;
}

.contacto .contacto__contactanos div .iconos {
  height: 1.5rem;
}

.contacto .contacto__contactanos--titulo {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .contacto {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu .menu__producto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  color: #ffebc9;
  gap: 0.5rem;
  background: rgba(117, 52, 34, 0.993);
  border: solid 0.1px #180f0126;
  border-radius: 10%;
}

.menu .menu__producto:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-box-shadow: 0 20px 20px 0px rgba(0, 0, 0, 0.125);
          box-shadow: 0 20px 20px 0px rgba(0, 0, 0, 0.125);
}

.menu .menu__producto .menu__img {
  max-width: 100%;
  border-radius: 10%;
  padding: 0.5rem;
}

/* Seccion */
.seccion {
  margin: 0;
  padding: 1.5rem;
  gap: 1rem;
}

.seccion .seccion__productos {
  background: rgba(117, 52, 34, 0.993);
  border: 0.1px solid rgba(117, 52, 34, 0.993);
  border-radius: 5%;
  background: rgba(117, 52, 34, 0.993);
  border: solid 0.1px #180f0126;
  border-radius: 10%;
}

.seccion .seccion__productos:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-box-shadow: 0 20px 20px 0px rgba(0, 0, 0, 0.125);
          box-shadow: 0 20px 20px 0px rgba(0, 0, 0, 0.125);
}

.seccion .seccion__productos .seccion__img {
  padding: 0.5rem;
  max-width: 100%;
  border-radius: 10%;
}

.seccion .seccion__productos .seccion__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #ffebc9;
}

@media screen and (min-width: 768px) {
  .seccion {
    margin: 0;
    padding: 1.5rem;
    gap: 1rem;
  }
  .seccion .seccion__productos {
    background: rgba(117, 52, 34, 0.993);
    border: 0.1px solid rgba(117, 52, 34, 0.993);
    border-radius: 5%;
  }
  .seccion .seccion__productos .seccion__img {
    padding: 0.5rem;
    max-width: 100%;
    border-radius: 10%;
  }
  .seccion .seccion__productos .seccion__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #ffebc9;
  }
}

/* Section */
.contenido .contenido__titulo {
  text-align: center;
  color: #502e02;
  text-decoration: underline;
  font-family: 'oswald', sans-serif;
  font-weight: 700;
}

.contenido .contenido__info {
  padding: 1rem;
  text-align: justify;
  color: #01090f;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

/* Section2 */
.contenido2 div .contenido2__titulo {
  text-decoration: underline;
  text-align: center;
  color: #573502;
  font-family: 'oswald', sans-serif;
  font-weight: 600;
}

.contenido2 div .contenido2__texto {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  text-align: start;
}

.contenido2 div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenido2 div .contenido2__img {
  height: 5rem;
  border-radius: 30%;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .contenido .contenido__titulo {
    text-align: center;
    color: #502e02;
    text-decoration: underline;
  }
  .contenido .contenido__info {
    padding: 2rem;
    text-align: justify;
    color: #01090f;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
  }
  /* Section2 */
  .contenido2 div .contenido2__titulo {
    text-decoration: underline;
    text-align: center;
    color: #573502;
  }
  .contenido2 div .contenido2__texto {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    text-align: start;
  }
  .contenido2 div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contenido2 div .contenido2__img {
    height: 10rem;
    border-radius: 30%;
    max-width: 100%;
  }
}

header {
  margin: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: rgba(117, 52, 34, 0.993);
  border: 1px solid;
  font-weight: 900;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__nav {
  width: 100%;
}

header .header__nav .header__img {
  height: 45px;
}

header .header__nav .header__img:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 50px;
}

header .header__nav .header__lista {
  list-style-type: none;
  margin: 0;
  color: #ffebc9;
}

header .header__nav .header__lista .nav-link {
  color: #ffebc9 !important;
  text-decoration: none;
}

header .header__nav .header__lista .nav-link:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1.5rem;
  color: #ffebc9;
}

/* Footer */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  background-color: rgba(117, 52, 34, 0.993);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .pagos {
  text-align: center;
  padding: 1rem;
  color: #ffebc9;
}

footer .pagos .pagos__img {
  height: 2.3rem;
}

footer .redes {
  text-align: center;
  padding: 1rem;
  color: #ffebc9;
}
