/* Footer */
footer {
  display: flex;
  justify-content:space-between;
  margin: 0;
  background-color:$fondo-oscuro ;
  align-items: center;
  .pagos {
    .pagos__img{
      height: 2.3rem;
    }
    text-align: center;
    padding: 1rem;
    color: $color-letras;
  } 
  .redes {
    text-align: center;
    padding: 1rem; 
    color:$color-letras ;
  }
}

