* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-size: 1rem;
}
/* Main */

.main__titulo  {
  text-align: center;
  font-size: 3rem;
  color: rgb(117, 82, 7);
  background-image:url(../Logos/bolsacoffe.jpg);
  background-size: cover;
  background-position: right;
  padding-top: 2rem;

}
.iconos {
  height: 20px;
}
main {
  background: linear-gradient( to right,#753422b9, #ffebc969);
}

/*Contacto */
fieldset label {
  text-align: center;
  align-items: center;
}
.main__contacto  {
  /* display: flex;
  flex-direction: column; */
  color: rgb(255, 235, 201);
  font-weight: 900;
}
.contacto1 {
  align-items: center;
}
.contacto2 {
  width: max-content;
  background-color: rgba(117, 52, 34, 0.993);
}
.contacto2__titulo {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .contacto {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 769px) {
  .main__titulo{
  text-align: center;
  font-size: 6rem;
  color: rgb(117, 82, 7);
  background-image:url(../Logos/bolsacoffe.jpg);
  /* height: 25vh; */
  background-size: cover;
  background-position: right;
  padding-top: 4rem;
  }
  fieldset label {
    text-align: center;
    padding: 5px;
  }
}
