* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-size: 1rem;
}

/* Main */
.main {
  /* padding: 2rem; */
  min-height: 100vh;
  background: linear-gradient( to right,#753422b9, #ffebc969);
  
}

.main__titulo {
  text-align: center;
  font-size: 6rem;
  color: rgb(117, 82, 7);
  background-image: url(../Logos/bolsacoffe.jpg);
  height: 20vh;
  background-size: cover;
  background-position:initial;
  padding-top: 4rem;

}

/* Section */

.contenido {
  display: flex;
  height:40vh;
  flex-direction:column;
  padding-top: 2rem;

  
}
.contenido__titulo {
  text-align: center;
  padding: 2rem;
  margin: 2rem;
  color: rgb(80, 46, 2);
  text-decoration: underline;
}

.contenido__info {
  padding: 1rem;
  text-align:center;
  color: rgb(1, 9, 15);
  font-family:monospace;
  font-size: 1.4rem;

  
}

/* Section2 */

.contenido2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 4rem;
  padding-bottom: 2rem;
}

.contenido2__img {
  height: 200px;
  border-radius: 30%;
  
}
.contenido2__titulo {
  text-align: left;
  margin-bottom: 2rem;
  color: rgb(87, 53, 2);
}
.contenido2__texto {
  width: 30rem;
  font-family:monospace;
  font-size: 1.4rem;
}