* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-size: 1rem;
}
/* Main */
.main {
  min-height: 100%vh;
  background: linear-gradient( to right,#753422b9, #ffebc969);
} 
.main__titulo {
  text-align: center;
  font-size: 6rem;
  color: rgb(117, 82, 7);
  background-image:url(../Logos/bolsacoffe.jpg);
  height: 25vh;
  background-size: cover;
  background-position: right;
  padding-top: 4rem;
}

/* Seccion */

.seccion {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 4rem;
  padding: 2rem;
}
.seccion__productos {
  background: #f7f7f7;
  border: 0.1px solid #dbdbdb;
  border-radius: 5%;
}

.seccion__img {
  height: 600px;
  width: 100%;
  border-radius: 5% ;
}

.seccion__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  font-family: serif;
  font-size: 1.5rem;
  color:rgb(114, 74, 5);
}

.seccion:hover .seccion__productos{
  filter:blur(3px);
  opacity:.5;
  transform: scale(.98);
  box-shadow: none ;

}

.seccion:hover .seccion__productos:hover{
  transform:scale(1);
  filter:blur(0px);
  opacity:1;
  box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);

}


