* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-size: 1rem;
}

/* Main */
.main  {
  background: linear-gradient( to right,#753422b9, #ffebc969);
 
}

.main__titulo {
  text-align: center;
  font-size: 6rem;
  color: rgb(117, 82, 7);
  background-image:url(../Logos/bolsacoffe.jpg);
  height: 25vh;
  background-size: cover;
  background-position: right;
  padding-top: 4rem;
}

/* Seccion */
.seccion {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1rem;
  padding: 2rem;
}
/* Seccion Prodcutos */

.seccion__productos {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: serif;
  font-size: 1.5rem;
  gap: 1rem;
  background: #180f0126;
  border: solid 0.1px #180f0126;
  border-radius: 10%;
}
.seccion__productos:hover{
  transform: scale(.98);
  box-shadow:0 20px 20px 0px rgba(0,0,0,0.125);
}

/* Seccion Imagenes */

.seccion__img {
  height: 350px;
  width: 100%;
  border-radius: 10%;
}
