* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-size: 1rem;
}


/* Main */
.main {
  /* min-height: 100%vh; */
  background: linear-gradient( to right,#753422b9, #ffebc969);
} 

/* Titulo */
.main__titulo {
  text-align: center;
  font-size: 6rem;
  color: rgb(117, 82, 7);
  background-image:url(../Logos/bolsacoffe.jpg);
  /* height: 25vh; */
  background-size: cover;
  background-position: right;
  padding-top: 4rem;
  
}

/* Section1 */
.section1 {
  display: grid;
  grid-template-areas: 
    "texto imagen";
  grid-template-columns: 3fr 2fr;
  grid-template-rows: auto;
  justify-content: space-evenly;
  padding: 3rem;
  margin: 3rem;
}
.section1__imagenes {
  height: 900px;
  grid-area:imagen ;
  padding: 4rem; 

}

.section1__texto {
  font-family: serif;
  font-size: 2rem;
  grid-area: texto;
  padding: 5rem;
  line-height: 5rem;
  text-align: center;
}

/* Section2 */
.section2 {
  display: grid;
  grid-template-columns: 3fr 3fr;

  padding: 3rem;
  gap: 2rem;
}
.section2__imagenes {
  
  display: flex;
  flex-direction: column;
  align-items:baseline;


}
.section2__salado:hover {
  transition: 2s;
  transform: scale(1.1);
  
  }
.section2__dulce:hover {
  transition: 2s;
  transform: scale(1.1);
}
.dulce {
  height:300px;
  width: 450px;
  padding: 2rem;
  margin: 0;
}
.salado {
  height:300px;
  width: 450px;
  padding: 2rem;
}
.section2__texto {
  text-align: center;
}

